@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  margin-left: 0;
}

a,
.green {
  text-decoration: none;
  color: var(--blue);
  transition: 0.4s;
  padding: 3px;
  font-size: 25px;
}
